@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="homeTitle" name>Blabber App</h1>
    <p class = "homePara">Welcome to Blabber App! Click <a asp-area="" asp-page="/Register">here </a>to register!</p>
</div>
