@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Blabber App</h1>
    <p>Welcome to Blabber App! Click <a asp-area="" asp-page="/Register">here </a>to register!</p>
</div>
