@page
@model BlabberApp.Client.Pages.RegisterModel
@using BlabberApp.Services;
@inject IUserService UserSErvice
@{
    ViewData["Title"] = "Register";
}

    <h1 class = "centerTitle">@ViewData["Title"]</h1><br>

<div class = "smallWhiteBackground">
    <h2 class = "smallTitle">Please register your email here.</h2><br>

    <form method = "post">
        <label> Email: </label>
        <input type="email" name="emailaddress">
        <input type = "submit">
    </form>
    <br>
    <p>**You must register before posting any blabs</p>
</div>