@page
@model BlabberApp.Client.Pages.UsersModel
@using BlabberApp.Domain.Entities
@using BlabberApp.Services
@inject IUserService UserService
@{
    ViewData["Title"] = "Users";
}

<br>
    <h1 class = "centerTitle">@ViewData["Title"]</h1>
<div class = "whiteBackground">
    <p>
        @foreach (@User user in @UserService.GetAll()) {
            <li class = "userList">@user.Email.ToString()</li>
        }
    </p>
</div>